#chart-area svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#logo {
  height: 50px;
}

.navbar-brand {
  height: 60px;
  padding: 5px 0px;
}
.x-axis,
.y-axis {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}

.x-axis-label,
.y-axis-label {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
